/main.class
/Main.class
/Main$Node.class
/Node.class
/NodeAStar.class
/NodeDijkstra.class
/Teste.class
/NodeStar.class
/teste.class
/NodeForDijkstra.class
/Teste$Node.class
/MainTest$Node.class
/MainTest.class
/MainTest$DijkstraMaze$Node.class
/MainTest$DijkstraMaze.class
/MainTest$DijkstraMaze$1.class
/MazeException.class
